@import 'src/styles/abstract/colors';

.generator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    padding: 4rem;
    background-color: $emerald-600;
    border-radius: 0.7rem;
  }

  &__inputs-container {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
  }

  &__random-number {
    padding: 2rem;
    text-align: center;

    color: $slate-900;
    font-weight: bolder;
    font-size: 1.6rem;
  }
}

.error {
  color: $rose-600;
  font-size: 1.2rem;
  font-weight: 500;
}
